/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f4070;
    padding: 15px 30px;
    min-height: 50px;
  }
  
  .logo h1 {
    color: white;
    margin: 0;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.09em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap:50px;
    margin: 0;
    margin-left: 50px;
    font-size: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
   */